:root {
    --color-dark: #15281f;
    --color-dark-x: #2d343f;
    --color-dark-xx: #1f232b;
    --color-light: #ffffff;
    --color-grey: #f5f6f8;
    --color-shadow: #222;
    --color-border-input: #ddd;
}